<ion-header class="ion-no-border" mode="md">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="padding: 0px; color: white; margin-left:5px">Beneficios</ion-title>
        <ion-button class="sindispetrol" slot="end" size="small" fill="clear">
            <ion-label  name=""></ion-label>
            Sindispetrol
        </ion-button>
    </ion-toolbar>
</ion-header> 

<ion-content>
    <div class="main_content_div">
        <div class="extra_header_laboral">
            <div>
                <img src="assets/imgs/Beneficios2.png"  class="ml-3">
            </div>
            
            <div>
                <br>
                <br>
                <p class="encabezado" style="text-align: justify;">Conoce los beneficios que Sindispetrol tiene para cada uno de nuestros asociados</p>
            </div> 
            <ion-slides class="slides" pager="true" [options]="">
                <ion-slide>
                    <div class="ion-text-justify" style="padding: 15px;">
                        <ion-label class="bold_lbl">Mutual</ion-label>

                        <img src="assets/imgs/Mutual.png"  class="ml-3">

                        <div class="grid_box2">
                            
                                <ion-button color="warning" href="https://www.consolidaridad.com.co">Página web</ion-button>
                                <!-- <ion-label  style="font: bold;"  HREF="https://www.consolidaridad.com.co"  >Página web</ion-label> -->
                                <!-- <A HREF="https://www.consolidaridad.com.co"> Página web </A> -->
                            
                        </div> 
                        <br>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="ion-text-justify" style="padding: 14px;">
                        <ion-label class="bold_lbl">Educación</ion-label>
                        <img src="assets/imgs/educación.png"  class="ml-3">

                        <div class="grid_box2">
                                <ion-button color="warning" href="">Contáctanos</ion-button>
                                <!-- <ion-label  style="font: bold;"  HREF="https://www.consolidaridad.com.co"  >Página web</ion-label> -->
                                <!-- <A HREF="https://www.consolidaridad.com.co"> Página web </A> -->
                            </div>
                        <br>                        
                     </div>
                </ion-slide>
                <ion-slide>
                    <div class="ion-text-justify" style="padding: 14px;">
                        <ion-label class="bold_lbl">Recreación</ion-label>
                        <img src="assets/imgs/recreación.png"  class="ml-3">

                        <div class="grid_box2">
                                <ion-button color="warning" href="">Contáctanos</ion-button>
                                <!-- <ion-label  style="font: bold;"  HREF="https://www.consolidaridad.com.co"  >Página web</ion-label> -->
                                <!-- <A HREF="https://www.consolidaridad.com.co"> Página web </A> -->
                            </div>
                        <br>   
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="ion-text-justify" style="padding: 14px;">
                        <ion-label class="bold_lbl">Vivienda</ion-label>
                        <img src="assets/imgs/vivienda.png"  class="ml-3">

                        <div class="grid_box2">
                                <ion-button color="warning" href="">Contáctanos</ion-button>
                                <!-- <a type="" style="font: bold;"  HREF="https://www.consolidaridad.com.co"  >Página web</a> -->
                                <!-- <A HREF="https://www.consolidaridad.com.co"> Página web </A> -->
                            
                        </div> 
                        <br>
                    </div>
                </ion-slide>
                <ion-slide>
                    <div class="ion-text-justify" style="padding: 14px;">
                        <ion-label class="bold_lbl">Salud</ion-label>
                        <img src="assets/imgs/salud.png"  class="ml-3">

                        <div class="grid_box2">
                                <ion-button color="warning" href="">Contáctanos</ion-button>
                                <!-- <ion-label  style="font: bold;"  HREF="https://www.consolidaridad.com.co"  >Página web</ion-label> -->
                                <!-- <A HREF="https://www.consolidaridad.com.co"> Página web </A> -->
                           
                        </div> 
                        <br>                        
                    </div>
                </ion-slide>
            </ion-slides>
        </div>
    </div>
</ion-content>
