<ion-tabs>

    <ion-tab-bar slot="bottom">
      
        <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="juridica">
            <ion-icon name="newspaper-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="laborales">
            <ion-icon name="receipt-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="copasst">
            <ion-icon name="medkit-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="afiliate">
            <ion-icon name="create"></ion-icon>
        </ion-tab-button>


    </ion-tab-bar>

</ion-tabs>
