ion-content {
    background: whitesmoke;
}

ion-menu-button {
    --background: white;
}
ion-toolbar {
    --background: linear-gradient(#009544, #8CC63F);
    ion-title {
        color: white;
    }
    ion-icon {
        color: white;
    }
}
.sindispetrol {
    --color: white !important; 
}



.main_content_div {                                        
    padding: 16px;
    background-image: url("../../../assets/imgs/fondolaboral_1_2.png");
    background-repeat: no-repeat;
    background-color: whitesmoke;

    .flex_div {
        display: flex;
        align-items: center;
    
        .logo_text {
            font-size: 20px;
            font-family: 'bold';
    
            span{
                font-family: 'bold';
                color: var(--ion-color-primary);
            }
        }
        .small_text {
            font-size: 14px;
        }
        img {
            width: 200px;
            margin-left: 16px;
        }
    }

    .content_div {
        padding: 16px;
        padding-top: 40px;
        background-image: url("../../../assets/imgs/menu.png");
        background-color: whitesmoke;
    }
    .title_lbl {
        font-family: 'semi-bold';
        color: white;
        margin-bottom: 16px;
        margin-top: 16px;
    }
    ion-input {
        box-shadow: 0pc 3px 6px rgba(0,0,0,0.2);
        height: 50px;
        --padding-start: 8px;
        --padding-end: 16px;
        border-radius: 25px;
        background: white;
        width: 80%;
        position: absolute;
        bottom: -25px;
        font-family: 'medium';
    
        ion-icon {
            margin-left: 16px;
            color: rgb(255, 255, 255);
            font-size: 20px;
        }
    }

    .grid_box2 {
        display: flex;
        align-items: center;
        justify-content: center;
        .box_div2 {
            background-color:rgb(243, 243, 243);
            box-shadow: 0px 3px 6px rgba(5, 156, 13, 0.5);
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 140px;
            height: 70px;
            margin: 5px;
            border-radius: 10px;
            font-size: 20px;
        
            img {
                width: 50px;
            }
        
            ion-label {
                text-align: center;
                font-family: 'semi-bold';
                font-size: 10px;
                color: var(--ion-color-primary);
                margin-top: 10px;
            }
        }
    }

    .bold_lbl {
        font-family: 'bold';
        text-align: center;
        margin-bottom: 7px;
        text-transform: uppercase;
        padding: 0px 20px;
    }
    
}