 <ion-header class="ion-no-border" mode="md">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title style="padding: 0px; color: white; margin-left:5px">Inicio</ion-title>
        <ion-button class="sindispetrol" slot="end" size="small" fill="clear">
            <ion-label  name=""></ion-label>
            Sindispetrol
        </ion-button>
    </ion-toolbar>
</ion-header> 

<ion-content>
    <div class="main_content_div">

        <div class="extra_header">
            <div>
                <img src="assets/imgs/logo.png"  class="ml-3">
            </div>
           
        </div>

        <div  class="content_div" >
    

            <div class="grid_box">
                <div class="box_div" (click)="goToNosotros()">
                    <img src="assets/imgs/nosotros.png">
                    <ion-label><strong>Nosotros</strong></ion-label>
                </div>
                <div class="box_div" (click)="goToConsultasLaborales()">
                    <img src="assets/imgs/admin.png">
                    <ion-label>Consultas Laborales</ion-label>
                </div>
            </div> 
            <div class="grid_box">
                <div class="box_div" (click)="goToJuridica()">
                    <img src="assets/imgs/juris.png">
                    <ion-label><strong>Consultas Jurídicas</strong></ion-label>
                </div>
                <div class="box_div" (click)="goToCopasst()">
                    <img src="assets/imgs/copasst.png">
                    <ion-label><strong>Copasst</strong></ion-label>
                </div>
            </div> 
            <div class="grid_box">
                <div class="box_div" (click)="goToBeneficios()">
                    <img src="assets/imgs/beneficios.png">
                    <ion-label><strong>Beneficios</strong></ion-label>
                </div>
                <div class="box_div" (click)="goToAfiliate()">
                    <img src="assets/imgs/afiliate.png">
                    <ion-label><strong>Afíliate</strong></ion-label>
                </div>
            </div> 

            <ion-label class="title_lbl"><strong>Subdirectivas</strong></ion-label>
            <div class="flex_slider mb-3">
                <div *ngFor="let item of Subdirectivas" class="inner_slide">
                    <div (click)="redirigir(item.page)">
                        <img src="assets/imgs/Copia de sedes.png">
                        <ion-label class="mb-3">{{item.sub}}</ion-label>
                    </div> 
                </div>
            </div>

        </div>

        

    </div>
</ion-content>
